<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yami.trading.dao.purchasing.UserPurchasingRecordMapper">

  <select id="listPage" resultType="com.yami.trading.bean.purchasing.dto.UserPurchasingRecordDto">
      SELECT
      u.user_name ,
      u.role_name,
      u.user_code,
      pr.*
      FROM
      t_user_purchasing_record pr
      LEFT JOIN tz_user  u ON pr.user_id = u.user_id

      where  1=1
        <if test="rolename!=null and rolename!=''">
             and u.role_name=#{rolename}
        </if>


      <if test="userName!=null and userName!=''">
          and u.user_name=#{userName} or u.user_code=#{userName}
      </if>


         order by pr.create_time desc

  </select>
</mapper>
