<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yami.trading.dao.user.UserRecomMapper">
    <select id="list" resultType="com.yami.trading.bean.user.dto.UserRecomDto">
        SELECT u.user_name,u.user_code,ur.role_name,ur.user_name AS 'recomUserName',
        ur.user_code AS 'recomUserCode',r.uuid FROM tz_user_recom r
        LEFT JOIN tz_user u  ON r.user_id=u.user_id
        LEFT JOIN tz_user ur ON r.recom_user_id=ur.user_id
        where 1=1

        <if test="recomUserName!=null and recomUserName!=''">
            and ur.user_name=#{recomUserName}
        </if>

        <if test="userName!=null and userName!=''">
            and (u.user_name=#{userName} or u.user_code=#{userName})
        </if>
        ORDER BY  r.create_time  desc
    </select>
</mapper>
